.hero-image  {
  height: 70px;
  object-fit: cover; /* scales and crops to fit  */
  width: 60%;
}


/* this is so bunk, need to put it somewhere better*/


#back_button {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  
}


#conss {
  position: relative;

}


.material-symbols-outlined {
  float: right;
}