<h2 class="pageheader"><i>Assist asked of me</i></h2>
<hr>
<br>
<%= turbo_stream_from "assigned_consults_user_#{current_user.id}" %>

<div id="assigned_consults">
  <%= render partial: "consults/consult",
             collection: @consults,
             as: :consult,
             locals: { viewer: current_user } %>
</div>
<br>
<hr>