<% content_for :title, "Editing consult" %>

<h1>Edit assist</h1>

<%= render "form", consult: @consult %>

<br>

<div>

</div>
<br>
<br>
<hr>
<hr>
<!--<%= button_to "Delete this assist", consult_path(@consult), 
                      method: :delete,
                      data: { confirm: "Are you sure you want to delete this consult?" },
                      class: "btn btn-sm btn-danger",
                      form_class: "d-inline" %> -->
