
<h2 class="pageheader"><i>Assists I requested </i></h2>

<hr>
<br>



 <%= render partial: "consults/consult",
             collection: @consults,
             as: :consult,
             locals: { viewer: current_user } %>







<div id: "conss">
<%= link_to "â† Back", :back, class: "btn btn-primary" %>
</div>