
<h2 class="pageheader"><u>Assists I requested </u></h2>

<br>
<br>
<hr>
<br>



 <%= render partial: "consults/consult",
             collection: @consults,
             as: :consult,
             locals: { viewer: current_user } %>







<div id: "conss">
<%= link_to "← Back", :back, class: "btn btn-primary" %>
</div>