<h2 class="pageheader"><i>Request an assist</i></h2>
<br>
<hr>
<br>

<div class="availability-table">

  <div class="table-header">
    <div>Pathologist</div>
    <div>Current Local Time</div>
    <div>Available for Assist</div>
  </div>

  <% @users.reject { |u| u == current_user }.each do |user| %>
    <%= turbo_frame_tag "row_frame_#{user.id}",
          src: availability_row_user_path(user),
          data: {
            controller: "availability-refresh",
            availability_refresh_interval_value: 30000
          } %>
  <% end %>

</div>



<br>

<%# remove this%>
<hr>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>


