<hr>
<br>
<h2 class="pageheader">Accession: <%= @consult.title %></h2>
<br>
<p><strong>Asked By:</strong> <%= @consult.asked_by.name %> on <%= @consult.created_at.strftime("%b %d, %Y ")%></p> 

<br>
<hr>
<%# was herr%>
<br>
<br>
<div id: "conss">
<%= link_to " â† Back", :back, class: "btn btn-primary" %>
</div>
