

<hr>
<h3 class = "pageheader">Request an assist</h3>
<br>



<div class="availability-table">

  <div class="table-header">
    <div>Pathologist</div>
    <div>Current Local Time</div>
    <div>Available for Assist </div>
    <div>Works Tomorrow?</div>
  </div>

  <% @eligible_users.each do |user| %>
    <%= turbo_frame_tag "row_frame_#{user.id}",
          src: availability_row_user_path(user),
          data: {
            controller: "availability-refresh",
            availability_refresh_interval_value: 30000
          } %>
  <% end %>


</div>

<br>
<br>



<br>


<br>
<br>
<br>
<br>
